<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div id="containers">
      <div class="row">
        <div >
            <h1 id="home">Welcome to MY Favourite Cars </h1>

            <br><br><br>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.foxdealer.com%2F135%2F2016%2F10%2Fcars-top.png&f=1&nofb=1&ipt=f6c7d4e32d0a2bff3cd4dda6e1aad1c59cad96b8d6e669fc8d305122c4a422ab&ipo=images">
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


